.document {
  .summary {
    p {
      margin-top: $gutter-one-third*-1;
      margin-bottom: $gutter-half;
      @include copy-19;
    }
  }

  .body {
    @extend .govspeak;
  }
    
  section {
    padding-top: $gutter-one-third;
  
    h1 {
      @include copy-19;
    }
    
    li {
      @include copy-16;
    }
  }
}
